lr3/Лабораторная работ №3.docx
lr4/Лабораторная работ №4.pdf
lr4/50.tif
lr4/test1.tif
lr4/5.tif
bw8/model_0.hdf5
bw8/model_1.hdf5
bw8/model_2.hdf5
bw8/model_3.hdf5
bw8/weights-improvement-10-2.4015.hdf5
logs/train/events.out.tfevents.1651587009.DESKTOP-6PA0P7S.2804.0.v2
weights8.hdf5
